




body {
    background-color: chartreuse;
}


h1,p {
    font-size: x-largexs;
    font-style: italic;
    color: brown
    ; 
    text-align: center;
    text-decoration: cyan;
}

h2 { 
    text-align: center;
}

.fuzzy {
color: brown;
font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }